# List of file patterns for git to ignore.
#
# Please try to keep entries in alphabetical order :-)
#
*.lprof
*.msk
*.nja
*.pyc
.cache
.directory
.idea
.project
.pydevproject
.python-version
.settings/org.eclipse.core.resources.prefs
.vscode
.vimrc
ExportTest
Notes.t2t
dist
build
icons/Numix
manuskript/pycallgraph.txt
manuskript.log
snowflake*
test-projects
main.pyproject.user
