# List of file patterns for git to ignore.
#
# Please try to keep entries in alphabetical order :-)
#
*.lprof
*.msk
*.nja
*.pyc
.cache
.directory
.idea
ExportTest
Notes.t2t
dist
build
icons/Numix
manuskript/pycallgraph.txt
snowflake*
test-projects
