language: generic
os:
- osx
- linux
osx_image: xcode7.3
sudo: required
install:
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then bash package/prepare_osx.sh; fi
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then bash package/prepare_linux.sh; fi
script:
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then python3 -B -m pytest -vs; fi
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then xvfb-run -s '-screen 0 640x480x24 +extension GLX' pytest -vs; fi
before_deploy:
- export FILENAME=manuskript-$TRAVIS_BRANCH-$TRAVIS_OS_NAME.zip
- if [ "$TRAVIS_OS_NAME" = "osx" ]; then bash package/build_osx.sh; fi
deploy:
  - provider: releases
    api_key:
        secure: lKuWQ9NWkLfDkkAiSnMh2PYkAGE1xh4pkSN5Ceb2IF9ee9i9YrJ9YFcvh420JSP+BYUl1OKczC5b3d9hUUZcfMwUkuZqPFCehOWP0O8dNs3XKZtmSU4POwR8lx7jRSO132qV/zgthBTK8PbeC2jIiMF4+4ESMsuEDptmGSOhgHtOcdJNDNz8gTbygXZVcl4U04se1ywtL62UQcTNMEKKLeBYQlrAXpcPiw4Htv9spEx6BewgarhRvJ/hysqeJgrH4wUVcjFw6Djppu3fmhrvgtaIU3ONxMLqgCuBZa03Q2LuF/RTYl9/DUgIjqsm1aOVooQZttYsUYWrLfyZNnLGD4WkdILcTMyexEVpQ/ejcEPm8gCf2PtklRtENZIxV2eQkLcPuSAPGWC8ue6a1etIUbYDbMT47SsdwkUsbyPpT8bnBvPf7gfmH/e20b1UQtxgmE5GDpbYZCTHf0kvwIFrBQzNmCtiGsXGJxIVx4msndplh8MdWFDBTEr0Ca8Tt45Fp/QPU7KAmdlQog9fWOfnJezIlBpFAXDa+AN2b/9uE+led5fmqQ62nuvjsYvWmJti2NW0IJ8UI26JGfh4Z1offE2bYp4onimfbRXSXWQs+Dm2l4CdTkc3habSWoUMw2R8mGbEfgfhzTFiAryg1mCtWy8AxUgfcUurd6BCwipH1ck=
    file: dist/$FILENAME
    overwrite: true
    skip_cleanup: true
    on:
        condition: $TRAVIS_OS_NAME = osx
        tags: true
  - provider: script
    script: "curl -T dist/manuskript-osx-develop.zip -u hfpn_semaphoreci:$FTP_PASSWORD ftp://www.theologeek.ch/web/manuskript/releases/ -v"
    skip_cleanup: true
    on:
        condition: $TRAVIS_OS_NAME = osx
        branch: develop
env:
  global:
    secure: LCEMJ4+mBd+2tzI3CDf7WMD+5tDMQbT5y/r7beKOa/c3+0Iyce3U5Q9dxYRB8Y3V46euLElySOQIdgBMp08h1Ph2L8oFvrgKwSk5/n8Nnvpe5NSmfkPPqIyiuxmKGecjsW8dJ0f18OVyN85JueOaSov6gMcqZkIQqKEw5CXdClg678wbNmfKcSO1oTe+UKZ+uJjeZGBlsPiID78dximbD59r6Au71gDb/iW124pSKcpluBHR2auUMi8WXoff3nvgbTm0So/K137OlB7pqzy5YHrqZg+kQ+SnLh47/TAjLclYEgbBRlrpBNMqmZXH+B99qhl0HdHglSGqltwEUc48r46j26lQFjqD5ng0XWZFS44MyBdQFdq/s4HyCzlQKranT/q6HFrRZQwsb7eFfJNS4JmaGX3LB7v+IQJh4vMVtizrIYenVwdeGMJWrRA+3VHO9GYTcvCDNpQG/ZWWcjLxxENtUlI+DVyNq7L8gZI5tFAHypsmcqweAq0II7rOwiNoj4Vib5vfvC2n6BAISTuojMMcBOHqOIci4WkroheZGtoF49kc936zOnOFPlauqkB8lq2AS4xd9Y4PDf6YGs+HE23Sx8Jy/c/WPKItQ+aP4nnIcgP8I6BCJfjSvZdAU+S/KzVd5Wrke7pwHiCX9T9hs8npFpNishDMTPChKTy7MRQ=
