[Desktop Entry]
Type=Application
Terminal=false
Name=Manuskript
TryExec=manuskript
Exec=manuskript
Icon=ch.theologeek.Manuskript
Categories=Office;WordProcessor;
Keywords=manuskript;office;write;edit;novel;text;msk
Comment=An open source tool for writers
